# Baseline models

We will use the raw data to train models that are able to support NaNs directly to obtain a baseline accuracy for our prediction.

The task then will be to improve the accuracy of the models by using:
1. variable selection
2. feature engineering
3. Nan imputation
4. cross-validating wider models 
5. Stacking models

In [1]:
import pandas as pd
from models import random_forest, hist_grad_boost, stacking
from preprocessing import minimal_preprocessing

In [2]:
# Minimal preprocessing

X, y = minimal_preprocessing()

In [3]:
X

,uid,ED_Q01,ED_Q02,ED_Q03,ED_Q04,ED_Q05,ED_Q06,ED_Q07,ED_Q08,ED_Q09,...,HH_Q13,HH_Q14,HH_Q15,HH_Q16,HH_Q17,HH_Q18,HH_Q19,HH_Q20,HH_Q21,HH_Q22
0,441_2_3,1,1,1,2.0,3.0,3.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,NaN,NaN
1,647_7_1,1,1,1,2.0,2.0,2.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,2,NaN,3.0,2.0,63.0,NaN
2,756_4_1,1,1,1,2.0,3.0,3.0,0.0,1.0,1.0,...,3.0,1.0,NaN,44.0,2,NaN,3.0,1.0,NaN,45.0
3,25_4_3,1,1,1,6.0,1.0,3.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,2,NaN,3.0,2.0,51.0,NaN
4,132_6_3,1,1,1,2.0,3.0,3.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329,574_5_1,1,1,1,1.0,4.0,1.0,1.0,2.0,NaN,...,3.0,1.0,NaN,43.0,2,NaN,7.0,1.0,NaN,46.0
5330,618_2_1,2,3,1,1.0,4.0,1.0,1.0,2.0,NaN,...,1.0,1.0,NaN,38.0,2,NaN,1.0,1.0,NaN,40.0
5331,155_4_1,1,1,1,1.0,8.0,2.0,0.0,2.0,NaN,...,2.0,1.0,NaN,51.0,2,NaN,2.0,1.0,NaN,54.0
5332,475_5_1,1,1,1,1.0,8.0,2.0,2.0,2.0,NaN,...,2.0,1.0,NaN,60.0,2,NaN,2.0,1.0,NaN,65.0
5333,377_1_1,1,1,1,1.0,7.0,2.0,0.0,2.0,NaN,...,1.0,2.0,80.0,NaN,2,NaN,1.0,2.0,75.0,NaN

# Baseline models

Since tree-based models and Histogram-based Gradient Boosting accept NaNs, train them on this minimal raw data to set a baseline for prediction.

## Random Forest

In [5]:
rf = random_forest(X, y)

NameError: name 'random_forest' is not defined

**Results:** 

```
Best parameters: {
    'max_depth': None, 
    'min_samples_split': 10, 
    'n_estimators': 50}
Best cross-validation accuracy: 0.21
```

So, the accuracy to beat is 0.21

## HistGradientBoosting

In [ ]:
hgb = hist_grad_boost(X, y)

Best parameters: {'l2_regularization': 2.0, 'learning_rate': 0.01, 'max_depth': 3, 'max_iter': 100, 'min_samples_leaf': 20}
Best cross-validation accuracy: 0.22

**Results:** 
```
Best parameters: {
    'l2_regularization': 2.0, 
    'learning_rate': 0.01, 
    'max_depth': 3, 
    'max_iter': 100, 
    'min_samples_leaf': 20}
```

Best cross-validation accuracy: 0.22

## Stacking

In [69]:
# hgb = HistGradientBoostingClassifier(random_state=42, l2_regularization=2.0, learning_rate=0.01, max_depth=3, max_iter=100, min_samples_leaf=20)
# rf = RandomForestClassifier(random_state=42, n_estimators=50, max_depth=None, min_samples_split=10)
estimators = [
    ('rf', rf),
    ('hgb', hgb)
]

stacked = stacking(X, y, estimators)

Stacked model cross-validation accuracy: 0.22 (+/- 0.03)

Stacked model cross-validation accuracy: 0.22 (+/- 0.03)