In [88]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import log_loss, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

In [90]:
df = pd.read_csv('X_TRAIN.csv') # need to remove uid and poverty_score_y

In [92]:
test_df = pd.read_csv('X_TEST.csv')

In [94]:
# poverty = poverty['poverty_score_y'].to_numpy()

In [96]:
# forgot about this. for ocd reasons let
df['attended_school'] = df['attended_school'].eq(1)
df = df.drop(columns=['finish_school_age'])

test_df['attended_school'] = test_df['attended_school'].eq(1)
test_df = test_df.drop(columns=['finish_school_age'])

In [98]:
df.head()

,uid,literate,attended_school,highest_school_lvl,preschool,school_transportation_time,school_transportation_cost,school_expenses,is_student,not_attend_reason1_2,...,marital_status_4,marital_status_5,poverty_score_y,sex,age,time_away,lives_with_partner,lives_with_parent,parents_education,num_parents_alive
0,441_2_3,True,True,2.0,0.0,40.0,0.0,140000.0,True,False,...,False,False,4.0,True,19,0,False,True,2.19,0
1,647_7_1,True,True,2.0,0.0,15.0,0.0,75000.0,True,False,...,False,False,4.0,True,19,0,False,True,2.19,0
2,756_4_1,True,True,2.0,0.0,6.0,0.0,100000.0,True,False,...,False,False,6.0,False,19,0,False,False,3.00,2
3,25_4_3,True,True,5.0,2.0,20.0,0.0,730000.0,True,False,...,False,False,4.0,True,20,0,False,True,2.19,0
4,132_6_3,True,True,2.0,0.0,30.0,0.0,170000.0,True,False,...,True,False,3.0,True,20,0,False,True,2.19,0

In [100]:
test_df.head()

,uid,literate,attended_school,highest_school_lvl,preschool,school_transportation_time,school_transportation_cost,school_expenses,is_student,not_attend_reason1_2,...,marital_status_3,marital_status_4,marital_status_5,sex,age,time_away,lives_with_partner,lives_with_parent,parents_education,num_parents_alive
0,648_6_4,True,True,5.0,3.0,15.0,0.0,130000.0,True,False,...,False,False,False,True,19,0,False,True,2.2,0
1,756_3_3,True,True,5.0,0.0,20.0,20000.0,230000.0,True,False,...,False,False,False,False,19,0,False,True,2.2,0
2,164_8_3,True,True,5.0,3.0,15.0,0.0,280000.0,True,False,...,False,False,False,False,21,0,False,True,2.2,0
3,375_4_4,True,True,5.0,0.0,15.0,0.0,113000.0,True,False,...,False,False,False,False,23,0,True,False,3.0,2
4,403_9_1,True,True,5.0,0.0,120.0,100000.0,100000.0,True,False,...,False,False,False,True,23,0,True,False,3.0,1

# Optional. Split into groups.

In [103]:
group1 = df['attended_school'].eq(False)
g1 = df[group1]
school_variates = [
    'highest_school_lvl', 'preschool', 'school_transportation_time', 'school_transportation_cost',
    'school_expenses', 'is_student', 'not_attend_reason1_2', 'not_attend_reason1_3', 'not_attend_reason1_4', 
    'not_attend_reason1_5', 'not_attend_reason1_6', 'not_attend_reason1_7', 'not_attend_reason1_8', 'not_attend_reason1_9', 
    'not_attend_reason1_10', 'not_attend_reason1_11', 'not_attend_reason1_12', 'not_attend_reason1_13', 'not_attend_reason1_14',
    'not_attend_reason2_2', 'not_attend_reason2_3', 'not_attend_reason2_4', 
    'not_attend_reason2_5', 'not_attend_reason2_6', 'not_attend_reason2_7', 'not_attend_reason2_8', 'not_attend_reason2_9', 
    'not_attend_reason2_10', 'not_attend_reason2_11', 'not_attend_reason2_12', 'not_attend_reason2_13', 'not_attend_reason2_14',
    'school_type_2', 'school_type_3', 
    'transport_2', 'transport_3', 'transport_4',
    'attended_school'
]
g1 = g1.drop(columns=school_variates)

In [105]:
group1_test = test_df['attended_school'].eq(False)
g1_test = test_df[group1_test]
school_variates = [
    'highest_school_lvl', 'preschool', 'school_transportation_time', 'school_transportation_cost',
    'school_expenses', 'is_student', 'not_attend_reason1_2', 'not_attend_reason1_3', 'not_attend_reason1_4', 
    'not_attend_reason1_5', 'not_attend_reason1_6', 'not_attend_reason1_7', 'not_attend_reason1_8', 'not_attend_reason1_9', 
    'not_attend_reason1_10', 'not_attend_reason1_11', 'not_attend_reason1_12', 'not_attend_reason1_13', 'not_attend_reason1_14',
    'not_attend_reason2_2', 'not_attend_reason2_3', 'not_attend_reason2_4', 
    'not_attend_reason2_5', 'not_attend_reason2_6', 'not_attend_reason2_7', 'not_attend_reason2_8', 'not_attend_reason2_9', 
    'not_attend_reason2_10', 'not_attend_reason2_11', 'not_attend_reason2_12', 'not_attend_reason2_13', 'not_attend_reason2_14',
    'school_type_2', 'school_type_3', 
    'transport_2', 'transport_3', 'transport_4',
    'attended_school'
]
g1_test = g1_test.drop(columns=school_variates)

In [107]:
group2 = df['attended_school'].eq(True) & (df['not_attend_reason2_13'].eq(True) | df['not_attend_reason1_13'].eq(True))
g2 = df[group2]

In [109]:
group2_test = test_df['attended_school'].eq(True) & (test_df['not_attend_reason2_13'].eq(True) | test_df['not_attend_reason1_13'].eq(True))
g2_test = test_df[group2_test]

In [110]:
g2 = g2.drop(columns=['attended_school', 'not_attend_reason2_13', 'not_attend_reason1_13'])

In [113]:
g2_test = g2_test.drop(columns=['attended_school', 'not_attend_reason2_13', 'not_attend_reason1_13'])

In [115]:
group3 = df['attended_school'].eq(True) & df['not_attend_reason2_13'].eq(False) & df['not_attend_reason1_13'].eq(False)
g3 = df[group3]

In [117]:
g3 = g3.drop(columns=['attended_school', 'not_attend_reason2_13', 'not_attend_reason1_13'])

In [119]:
group3_test = test_df['attended_school'].eq(True) & test_df['not_attend_reason2_13'].eq(False) & test_df['not_attend_reason1_13'].eq(False)
g3_test = test_df[group3_test]

In [121]:
g3_test = g3_test.drop(columns=['attended_school', 'not_attend_reason2_13', 'not_attend_reason1_13'])

# Models groups

## G1

In [220]:
X = g1.drop(columns=['poverty_score_y', 'uid'])
y = g1['poverty_score_y'].to_numpy()

### Random Forest

In [24]:
# param_grid = {
#     'n_estimators': [10, 50, 100],
#     'max_depth': [None, 10, 20, 30],
#     'min_samples_split': [2, 5, 10]
# }
# rf = RandomForestClassifier(random_state=42)
# grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='accuracy')

# grid_search.fit(X, y)

# print(f"Best parameters: {grid_search.best_params_}")
# print(f"Best cross-validation accuracy: {grid_search.best_score_:.2f}")

### kNN***

In [223]:
knn = KNeighborsClassifier(n_neighbors=25)

# Perform 5-fold cross-validation
cv_scores = cross_val_score(knn, X, y, cv=5, scoring='accuracy')

# Print the accuracy for each fold
print("Cross-validation scores:", cv_scores)
print(f"Average cross-validation accuracy: {cv_scores.mean():.2f}")

Cross-validation scores: [0.21428571 0.28571429 0.21428571 0.32142857 0.22222222]
Average cross-validation accuracy: 0.25

/opt/anaconda3/lib/python3.12/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

### Logistic

In [28]:
# model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000)

# # Perform cross-validation with 5 folds
# cv_scores = cross_val_score(model, X, y, cv=5, scoring='accuracy')

# # Print cross-validation scores
# print("Cross-validation scores:", cv_scores)
# print("Mean accuracy:", cv_scores.mean())

### G1 real predictions

In [30]:
g1_test.head(3)

,uid,literate,fam_role_2,fam_role_3,fam_role_4,fam_role_5,fam_role_6,fam_role_7,fam_role_8,fam_role_9,...,marital_status_3,marital_status_4,marital_status_5,sex,age,time_away,lives_with_partner,lives_with_parent,parents_education,num_parents_alive
9,93_6_1,True,False,False,False,False,False,False,False,False,...,False,True,False,True,39,0,False,False,2.0,0
10,15_11_2,False,True,False,False,False,False,False,False,False,...,False,False,False,True,40,0,True,True,2.2,0
11,448_3_1,False,False,False,False,False,False,False,False,False,...,False,True,False,True,41,0,True,False,2.0,2

In [225]:
# get X_test
X_TEST = g1_test.drop(columns=['uid'])

In [227]:
knn = KNeighborsClassifier(n_neighbors=25)
knn.fit(X, y)
y_pred_g1 = knn.predict_proba(X_TEST)

In [229]:
y_pred_g1 = np.append(y_pred_g1, np.zeros((y_pred_g1.shape[0], 1)), axis=1)

In [231]:
cols = ['subjective_poverty_1', 'subjective_poverty_2', 'subjective_poverty_3', 'subjective_poverty_4', 
        'subjective_poverty_5', 'subjective_poverty_6',
        'subjective_poverty_7', 'subjective_poverty_8', 'subjective_poverty_9', 'subjective_poverty_10']

y_pred_g1 = pd.DataFrame(y_pred_g1, columns=cols)

In [233]:
new_col = g1_test['uid'].reset_index(drop=True)
y_pred_g1.insert(0, 'psu_hh_idcode', new_col)
# y_pred_g1.insert(0, 'psu_hh_idcode', )
y_pred_g1

,psu_hh_idcode,subjective_poverty_1,subjective_poverty_2,subjective_poverty_3,subjective_poverty_4,subjective_poverty_5,subjective_poverty_6,subjective_poverty_7,subjective_poverty_8,subjective_poverty_9,subjective_poverty_10
0,93_6_1,0.08,0.08,0.36,0.16,0.20,0.08,0.04,0.00,0.00,0.0
1,15_11_2,0.12,0.08,0.36,0.16,0.20,0.08,0.00,0.00,0.00,0.0
2,448_3_1,0.12,0.12,0.32,0.16,0.20,0.08,0.00,0.00,0.00,0.0
3,97_3_1,0.12,0.12,0.32,0.16,0.20,0.08,0.00,0.00,0.00,0.0
4,90_5_1,0.12,0.12,0.28,0.20,0.20,0.08,0.00,0.00,0.00,0.0
5,100_2_1,0.16,0.12,0.28,0.20,0.16,0.08,0.00,0.00,0.00,0.0
6,468_3_1,0.28,0.12,0.16,0.20,0.16,0.08,0.00,0.00,0.00,0.0
7,104_7_1,0.24,0.12,0.12,0.20,0.20,0.12,0.00,0.00,0.00,0.0
8,143_6_1,0.24,0.16,0.12,0.20,0.16,0.12,0.00,0.00,0.00,0.0
9,96_1_1,0.24,0.16,0.12,0.16,0.20,0.12,0.00,0.00,0.00,0.0
10,233_3_1,0.12,0.20,0.04,0.32,0.20,0.08,0.04,0.00,0.00,0.0
11,145_4_1,0.12,0.20,0.12,0.24,0.20,0.08,0.04,0.00,0.00,0.0
12,410_2_1,0.08,0.24,0.16,0.24,0.20,0.04,0.04,0.00,0.00,0.0
13,651_6_1,0.08,0.24,0.16,0.24,0.20,0.04,0.04,0.00,0.00,0.0
14,653_8_1,0.08,0.20,0.12,0.20,0.20,0.16,0.04,0.00,0.00,0.0
15,310_3_1,0.12,0.24,0.20,0.04,0.16,0.16,0.08,0.00,0.00,0.0
16,141_1_1,0.12,0.20,0.08,0.16,0.12,0.20,0.12,0.00,0.00,0.0
17,329_4_1,0.12,0.20,0.08,0.16,0.12,0.20,0.12,0.00,0.00,0.0
18,144_11_1,0.08,0.20,0.08,0.16,0.20,0.16,0.12,0.00,0.00,0.0
19,725_1_1,0.08,0.16,0.12,0.20,0.20,0.12,0.12,0.00,0.00,0.0
20,387_6_1,0.04,0.16,0.12,0.32,0.20,0.12,0.04,0.00,0.00,0.0
21,417_4_1,0.04,0.20,0.12,0.28,0.24,0.08,0.04,0.00,0.00,0.0
22,526_4_1,0.04,0.16,0.12,0.32,0.20,0.16,0.00,0.00,0.00,0.0
23,318_3_1,0.04,0.12,0.12,0.36,0.24,0.12,0.00,0.00,0.00,0.0
24,422_7_1,0.04,0.08,0.16,0.36,0.32,0.04,0.00,0.00,0.00,0.0
25,664_3_1,0.04,0.08,0.16,0.36,0.32,0.04,0.00,0.00,0.00,0.0
26,393_9_1,0.08,0.08,0.16,0.36,0.28,0.04,0.00,0.00,0.00,0.0
27,665_1_1,0.08,0.12,0.16,0.36,0.24,0.04,0.00,0.00,0.00,0.0
28,356_1_1,0.08,0.12,0.12,0.32,0.20,0.08,0.08,0.00,0.00,0.0
29,577_6_2,0.12,0.08,0.12,0.36,0.20,0.04,0.08,0.00,0.00,0.0
30,175_6_1,0.12,0.12,0.12,0.32,0.20,0.04,0.08,0.00,0.00,0.0
31,346_4_1,0.12,0.08,0.08,0.40,0.20,0.04,0.08,0.00,0.00,0.0
32,268_11_1,0.12,0.16,0.08,0.28,0.24,0.04,0.08,0.00,0.00,0.0
33,537_3_1,0.12,0.16,0.08,0.28,0.24,0.04,0.08,0.00,0.00,0.0
34,662_8_1,0.12,0.12,0.16,0.24,0.20,0.04,0.08,0.00,0.04,0.0
35,764_7_1,0.12,0.12,0.16,0.24,0.20,0.04,0.08,0.00,0.04,0.0
36,318_5_1,0.08,0.12,0.12,0.28,0.20,0.04,0.08,0.04,0.04,0.0
37,205_4_1,0.12,0.12,0.12,0.28,0.12,0.08,0.08,0.04,0.04,0.0
38,692_5_1,0.12,0.12,0.12,0.28,0.12,0.08,0.08,0.04,0.04,0.0

## G3

In [164]:
X = g3.drop(columns=['poverty_score_y', 'uid'])
y = g3['poverty_score_y'].to_numpy()

### Random Forest

In [38]:
# param_grid = {
#     'n_estimators': [10, 50, 100],
#     'max_depth': [None, 10, 20, 30],
#     'min_samples_split': [2, 5, 10]
# }
# rf = RandomForestClassifier(random_state=42)
# grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='accuracy')

# grid_search.fit(X, y)

# print(f"Best parameters: {grid_search.best_params_}")
# print(f"Best cross-validation accuracy: {grid_search.best_score_:.2f}")

### kNN

In [40]:
# knn = KNeighborsClassifier(n_neighbors=20)

# # Perform 5-fold cross-validation
# cv_scores = cross_val_score(knn, X, y, cv=5, scoring='accuracy')

# # Print the accuracy for each fold
# print("Cross-validation scores:", cv_scores)
# print(f"Average cross-validation accuracy: {cv_scores.mean():.2f}")

### Logistic

In [42]:
# model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000)

# # Perform cross-validation with 5 folds
# cv_scores = cross_val_score(model, X, y, cv=5, scoring='accuracy')

# # Print cross-validation scores
# print("Cross-validation scores:", cv_scores)
# print("Mean accuracy:", cv_scores.mean())

### NN**

In [166]:
nn_model = MLPClassifier(max_iter=1000, random_state=42)

# Define the hyperparameter grid
param_grid = {
    'hidden_layer_sizes': [(50,), (100,), (50, 50), (100, 50)],
    'activation': ['relu', 'tanh'],
    'solver': ['adam', 'sgd'],
    'learning_rate': ['constant', 'adaptive'],
}

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=nn_model, param_grid=param_grid, cv=5, scoring='accuracy', verbose=2, n_jobs=-1)

# Perform the grid search
grid_search.fit(X, y)

# Print the best parameters and best score
print("Best parameters:", grid_search.best_params_)
print("Best cross-validation accuracy:", grid_search.best_score_)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

/opt/anaconda3/lib/python3.12/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=constant, solver=sgd; total time=   0.0s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=constant, solver=sgd; total time=   0.0s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=constant, solver=sgd; total time=   0.0s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=constant, solver=sgd; total time=   0.0s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=constant, solver=sgd; total time=   0.0s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=constant, solver=adam; total time=   0.0s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=adam; total time=   0.0s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=sgd; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=sgd; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=sgd; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=constant, solver=sgd; total time=   0.0s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=sgd; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=sgd; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=sgd; total time=   0.3s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=adam; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=sgd; total time=   0.3s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=sgd; total time=   0.3s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=sgd; total time=   0.3s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=sgd; total time=   0.3s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=adam; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=adam; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=sgd; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=sgd; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=adam; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=sgd; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=sgd; total time=   0.3s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=sgd; total time=   0.1s[CV] END activation=relu, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=sgd; total time=   0.3s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=sgd; total time=   0.1s

[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=adam; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=adam; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=adam; total time=   0.2s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=adam; total time=   0.2s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=constant, solver=adam; total time=   0.2s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=sgd; total time=   0.4s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=sgd; total time=   0.4s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=sgd; total time=   0.4s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=sgd; total time=   0.4s
[CV] END activation=relu, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=sgd; total time=   0.4s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=constant, solver=sgd; total time=   0.4s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=constant, solver=sgd; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=sgd; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=constant, solver=sgd; total time=   0.5s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=constant, solver=sgd; total time=   0.4s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=constant, solver=adam; total time=   0.2s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=constant, solver=sgd; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=sgd; total time=   0.5s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=adam; total time=   0.2s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=sgd; total time=   0.5s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=sgd; total time=   0.7s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50,), learning_rate=adaptive, solver=sgd; total time=   0.6s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=constant, solver=sgd; total time=   0.5s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=constant, solver=sgd; total time=   0.5s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=constant, solver=sgd; total time=   0.6s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=constant, solver=sgd; total time=   0.6s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=sgd; total time=   0.4s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=sgd; total time=   0.2s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=adam; total time=   0.1s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=sgd; total time=   0.5s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=sgd; total time=   0.8s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=sgd; total time=   0.7s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=sgd; total time=   0.8s
[CV] END activation=tanh, hidden_layer_sizes=(100,), learning_rate=adaptive, solver=sgd; total time=   0.8s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=adam; total time=   0.2s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=sgd; total time=   0.6s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=sgd; total time=   0.7s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=adam; total time=   0.2s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=constant, solver=sgd; total time=   0.8s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=sgd; total time=   0.5s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=sgd; total time=   0.2s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=sgd; total time=   0.8s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=sgd; total time=   0.8s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=adam; total time=   0.2s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=sgd; total time=   0.8s
[CV] END activation=tanh, hidden_layer_sizes=(50, 50), learning_rate=adaptive, solver=sgd; total time=   1.0s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=sgd; total time=   0.7s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=adam; total time=   0.3s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=sgd; total time=   0.6s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=sgd; total time=   1.1s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=sgd; total time=   0.9s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=constant, solver=sgd; total time=   1.0s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=sgd; total time=   0.9s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=sgd; total time=   1.1s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=sgd; total time=   1.1s
[CV] END activation=tanh, hidden_layer_sizes=(100, 50), learning_rate=adaptive, solver=sgd; total time=   1.1s
Best parameters: {'activation': 'tanh', 'hidden_layer_sizes': (50,), 'learning_rate': 'constant', 'solver': 'sgd'}
Best cross-validation accuracy: 0.21173870716510904

#### predicting G3

In [208]:
X_TEST = g3_test.drop(columns=['uid'])

In [210]:
mlp = MLPClassifier(hidden_layer_sizes=(50,), activation='tanh', solver='sgd',  learning_rate= 'constant', random_state=42)

# Train the model
mlp.fit(X, y)

# Predict probabilities for the test set
y_pred_g3 = mlp.predict_proba(X_TEST)

In [212]:
cols = ['subjective_poverty_1', 'subjective_poverty_2', 'subjective_poverty_3', 'subjective_poverty_4', 
        'subjective_poverty_5', 'subjective_poverty_6',
        'subjective_poverty_7', 'subjective_poverty_8', 'subjective_poverty_9', 'subjective_poverty_10']

y_pred_g3 = pd.DataFrame(y_pred_g3, columns=cols)

In [214]:
new_col = g3_test['uid'].reset_index(drop=True)
y_pred_g3.insert(0, 'psu_hh_idcode', new_col)
y_pred_g3

,psu_hh_idcode,subjective_poverty_1,subjective_poverty_2,subjective_poverty_3,subjective_poverty_4,subjective_poverty_5,subjective_poverty_6,subjective_poverty_7,subjective_poverty_8,subjective_poverty_9,subjective_poverty_10
0,648_6_4,0.032914,0.086804,0.154801,0.201347,0.210750,0.155590,0.093027,0.053356,0.008536,0.002875
1,756_3_3,0.080283,0.024663,0.176590,0.176624,0.099344,0.234926,0.098703,0.099565,0.007919,0.001384
2,164_8_3,0.032914,0.086804,0.154801,0.201347,0.210750,0.155590,0.093027,0.053356,0.008536,0.002875
3,375_4_4,0.032914,0.086804,0.154801,0.201347,0.210750,0.155590,0.093027,0.053356,0.008536,0.002875
4,403_9_1,0.410184,0.033177,0.075817,0.052116,0.029237,0.042991,0.064574,0.041561,0.238512,0.011831
...,...,...,...,...,...,...,...,...,...,...,...
436,654_3_1,0.032914,0.086804,0.154801,0.201347,0.210750,0.155590,0.093027,0.053356,0.008536,0.002875
437,346_8_2,0.032914,0.086804,0.154801,0.201347,0.210750,0.155590,0.093027,0.053356,0.008536,0.002875
438,362_2_8,0.032914,0.086804,0.154801,0.201347,0.210750,0.155590,0.093027,0.053356,0.008536,0.002875
439,515_7_3,0.032914,0.086804,0.154801,0.201347,0.210750,0.155590,0.093027,0.053356,0.008536,0.002875
440,406_5_4,0.032914,0.086804,0.154801,0.201347,0.210750,0.155590,0.093027,0.053356,0.008536,0.002875

## G2

In [239]:
X = g2.drop(columns=['poverty_score_y', 'uid'])
y = g2['poverty_score_y'].to_numpy()

### Random Forest**

In [180]:
param_grid = {
    'n_estimators': [10, 50, 100],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}
rf = RandomForestClassifier(random_state=42)
grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='accuracy')

grid_search.fit(X, y)

print(f"Best parameters: {grid_search.best_params_}")
print(f"Best cross-validation accuracy: {grid_search.best_score_:.2f}")

Best parameters: {'max_depth': 10, 'min_samples_split': 10, 'n_estimators': 50}
Best cross-validation accuracy: 0.21

### kNN

In [55]:
# knn = KNeighborsClassifier(n_neighbors=50)

# # Perform 5-fold cross-validation
# cv_scores = cross_val_score(knn, X, y, cv=5, scoring='accuracy')

# # Print the accuracy for each fold
# print("Cross-validation scores:", cv_scores)
# print(f"Average cross-validation accuracy: {cv_scores.mean():.2f}")

### Logistic

In [57]:
# model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000)

# # Perform cross-validation with 5 folds
# cv_scores = cross_val_score(model, X, y, cv=5, scoring='accuracy')

# # Print cross-validation scores
# print("Cross-validation scores:", cv_scores)
# print("Mean accuracy:", cv_scores.mean())

### NN

In [59]:
# nn_model = MLPClassifier(max_iter=1000, random_state=42)

# # Define the hyperparameter grid
# param_grid = {
#     'hidden_layer_sizes': [(50,), (100,), (50, 50), (100, 50)],
#     'activation': ['relu', 'tanh'],
#     'solver': ['adam', 'sgd'],
#     'learning_rate': ['constant', 'adaptive'],
# }

# # Initialize GridSearchCV
# grid_search = GridSearchCV(estimator=nn_model, param_grid=param_grid, cv=5, scoring='accuracy', verbose=2, n_jobs=-1)

# # Perform the grid search
# grid_search.fit(X, y)

# # Print the best parameters and best score
# print("Best parameters:", grid_search.best_params_)
# print("Best cross-validation accuracy:", grid_search.best_score_)

# fitting to G2

In [241]:
X_TEST = g2_test.drop(columns=['uid'])

In [243]:
# rf parameters Best parameters: {'max_depth': 10, 'min_samples_split': 10, 'n_estimators': 50}
# Initialize the Random Forest model
rf = RandomForestClassifier(n_estimators=50, max_depth=10, min_samples_split=10, random_state=42)

# Train the Random Forest model on the training data
rf.fit(X, y)

# Make predictions on the test data
y_pred_g2 = rf.predict_proba(X_TEST)

In [245]:
new_col = g2_test['uid'].reset_index(drop=True)

In [247]:
cols = ['subjective_poverty_1', 'subjective_poverty_2', 'subjective_poverty_3', 'subjective_poverty_4', 
        'subjective_poverty_5', 'subjective_poverty_6',
        'subjective_poverty_7', 'subjective_poverty_8', 'subjective_poverty_9', 'subjective_poverty_10']

y_pred_g2 = pd.DataFrame(y_pred_g2, columns=cols)
y_pred_g2.insert(0, 'psu_hh_idcode', new_col)
y_pred_g2

,psu_hh_idcode,subjective_poverty_1,subjective_poverty_2,subjective_poverty_3,subjective_poverty_4,subjective_poverty_5,subjective_poverty_6,subjective_poverty_7,subjective_poverty_8,subjective_poverty_9,subjective_poverty_10
0,684_6_2,0.005763,0.050791,0.198173,0.318574,0.164609,0.123947,0.073916,0.055359,0.006130,0.002737
1,524_3_2,0.016182,0.111103,0.197476,0.175422,0.096142,0.208215,0.095237,0.089081,0.010843,0.000299
2,755_8_1,0.012609,0.095840,0.272877,0.221715,0.161193,0.099328,0.068484,0.058440,0.008717,0.000797
3,152_9_1,0.026605,0.120945,0.098642,0.277773,0.228238,0.142204,0.074642,0.026069,0.003933,0.000949
4,680_1_3,0.042998,0.021495,0.084442,0.177574,0.135546,0.190347,0.196034,0.112697,0.036990,0.001878
...,...,...,...,...,...,...,...,...,...,...,...
849,612_1_1,0.049898,0.061716,0.130824,0.241135,0.200927,0.163244,0.077325,0.062537,0.011820,0.000574
850,738_1_3,0.014680,0.027415,0.085863,0.222554,0.212306,0.216234,0.106708,0.102438,0.007124,0.004678
851,191_10_2,0.037082,0.081012,0.208717,0.209317,0.206645,0.115370,0.093908,0.039798,0.007888,0.000263
852,475_9_5,0.026280,0.068692,0.139432,0.288287,0.170920,0.175416,0.075589,0.044322,0.007907,0.003154
853,53_2_1,0.028992,0.098067,0.169609,0.198934,0.216223,0.150998,0.077061,0.049378,0.007972,0.002767

### Now combine them!

In [255]:
solution = pd.concat([y_pred_g1, y_pred_g2, y_pred_g3], axis=0, ignore_index=True)

In [267]:
solution.shape

(1334, 11)

In [263]:
X_test['uid']

0        648_6_4
1        756_3_3
2        164_8_3
3        375_4_4
4        403_9_1
          ...
1329     612_1_1
1330     738_1_3
1331    191_10_2
1332     475_9_5
1333      53_2_1
Name: uid, Length: 1334, dtype: object

In [273]:
solution[~solution['psu_hh_idcode'].isin(X_test['uid'])]

Empty DataFrame
Columns: [psu_hh_idcode, subjective_poverty_1, subjective_poverty_2, subjective_poverty_3, subjective_poverty_4, subjective_poverty_5, subjective_poverty_6, subjective_poverty_7, subjective_poverty_8, subjective_poverty_9, subjective_poverty_10]
Index: []

In [259]:
solution.to_csv('solution2.csv', index=False)

# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!$$$$$$
# Models General case

In [519]:
X = df.drop(columns=['uid', 'poverty_score_y'])
X_test = pd.read_csv('X_TEST.csv')

# Best parameters: {'max_depth': 10, 'min_samples_split': 5, 'n_estimators': 50}
stacking_subset = df.sample(n=1300, axis=0)
X_stacking = stacking_subset.reset_index()
uids_stacking = X_stacking['uid']
uids_prediction = X_test['uid']
X_stacking = X_stacking.drop(columns=['uid', 'poverty_score_y'])

In [521]:
reasons = ['not_attend_reason1_2',
       'not_attend_reason1_3', 'not_attend_reason1_4', 'not_attend_reason1_5',
       'not_attend_reason1_6', 'not_attend_reason1_7', 'not_attend_reason1_8',
       'not_attend_reason1_9', 'not_attend_reason1_10',
       'not_attend_reason1_11', 'not_attend_reason1_12',
       'not_attend_reason1_13', 'not_attend_reason1_14',
       'not_attend_reason2_2', 'not_attend_reason2_3', 'not_attend_reason2_4',
       'not_attend_reason2_5', 'not_attend_reason2_6', 'not_attend_reason2_7',
       'not_attend_reason2_8', 'not_attend_reason2_9', 'not_attend_reason2_10',
       'not_attend_reason2_11', 'not_attend_reason2_12',
       'not_attend_reason2_13', 'not_attend_reason2_14', 'school_transportation_time']
X = X.drop(columns=reasons)
X_test = X_test.drop(columns=reasons)
X_stacking = X_stacking.drop(columns=reasons)

In [523]:
new_cols_to_drop = ['uid', 'finish_school_age']
X_test = X_test.drop(columns=new_cols_to_drop)

In [525]:
X.columns == X_test.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [527]:
y = df['poverty_score_y'].to_numpy()

### Random Forest**

In [498]:
# param_grid = {
#     'n_estimators': [10, 50, 150],
#     'max_depth': [None, 10, 20, 30],
#     'min_samples_split': [2, 5, 10]
# }
# rf = RandomForestClassifier(random_state=42)
# grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='accuracy')

# grid_search.fit(X, y)

# print(f"Best parameters: {grid_search.best_params_}")
# print(f"Best cross-validation accuracy: {grid_search.best_score_:.2f}")

Best parameters: {'max_depth': 10, 'min_samples_split': 5, 'n_estimators': 50}
Best cross-validation accuracy: 0.21

# Do it for reals!

In [529]:
X_stacking = X_stacking.drop(columns=['index'])

In [531]:
X_stacking

,literate,attended_school,highest_school_lvl,preschool,school_transportation_cost,school_expenses,is_student,school_type_2,school_type_3,transport_2,...,marital_status_3,marital_status_4,marital_status_5,sex,age,time_away,lives_with_partner,lives_with_parent,parents_education,num_parents_alive
0,True,True,5.0,2.0,0.0,754438.0,False,False,False,False,...,False,False,False,True,44,0,True,False,5.00,2
1,False,True,1.0,0.0,0.0,754438.0,False,False,False,False,...,False,False,False,False,68,0,False,False,1.00,0
2,True,True,1.0,2.0,0.0,754438.0,False,False,False,False,...,False,True,False,True,31,0,True,True,2.19,0
3,True,True,2.0,0.0,0.0,754438.0,False,False,False,False,...,False,False,False,False,60,0,True,False,2.00,1
4,True,True,2.0,0.0,0.0,754438.0,False,False,False,False,...,False,False,False,True,50,0,True,False,3.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295,True,True,2.0,1.0,0.0,754438.0,False,False,False,False,...,False,False,False,True,67,0,True,False,1.50,1
1296,True,True,1.0,0.0,0.0,754438.0,False,False,False,False,...,False,False,False,False,61,0,True,False,2.00,0
1297,True,True,1.0,1.0,0.0,754438.0,False,False,False,False,...,False,False,False,True,46,0,True,False,2.00,2
1298,False,True,1.0,0.0,0.0,754438.0,False,False,False,False,...,False,False,False,True,66,0,True,False,1.00,0
1299,True,True,5.0,0.0,0.0,754438.0,False,False,False,False,...,False,False,False,False,61,0,True,False,1.00,0

In [533]:
# Initialize the Random Forest model
rf = RandomForestClassifier(n_estimators=50, max_depth=10, min_samples_split=5, random_state=42)

# Train the Random Forest model on the training data
rf.fit(X, y)

# Make predictions on the test data
y_stacking = rf.predict_proba(X_stacking)
y_pred = rf.predict_proba(X_test)

In [537]:
cols = ['subjective_poverty_1', 'subjective_poverty_2', 'subjective_poverty_3', 'subjective_poverty_4', 
        'subjective_poverty_5', 'subjective_poverty_6',
        'subjective_poverty_7', 'subjective_poverty_8', 'subjective_poverty_9', 'subjective_poverty_10']

y_pred = pd.DataFrame(y_pred, columns=cols)
y_stacking = pd.DataFrame(y_stacking, columns=cols)

In [541]:
pred = pd.concat([uids_prediction, y_pred], axis=1)
pred.rename(columns={'uid': 'psu_hh_idcode'}, inplace=True)

stack = pd.concat([uids_stacking, y_stacking], axis=1)
stack.rename(columns={'uid': 'psu_hh_idcode'}, inplace=True)

In [547]:
pred.to_csv('testset_predictions.csv', index=False)
stack.to_csv('stacking_predictions.csv', index=False)

# Chenruo's final data
Covariates used:

* role_group
* age_group
* kids_group
* marital_status
* away_group
* mother_education_group
* read_write
* education_group
* preschool_group
* enrollment_grouping

In [592]:
df = pd.read_csv('chenruos_final.csv')

In [594]:
y = df['Self_Rank'].to_numpy()
uids = df['Self_id']

In [596]:
var_used = ['family_role_group', 'age_group', 'kids_group', 'marital_status', 'away_group', 
            'mother_education_group', 'read_write', 'education_group', 'preschool_group', 'enrollment_grouping',
           ]
X = df[var_used]

In [598]:
X.columns

Index(['family_role_group', 'age_group', 'kids_group', 'marital_status',
       'away_group', 'mother_education_group', 'read_write', 'education_group',
       'preschool_group', 'enrollment_grouping'],
      dtype='object')

In [600]:
dummies = pd.get_dummies(X['family_role_group'], prefix='role', drop_first=True)
X = pd.concat([X, dummies], axis=1)

dummies = pd.get_dummies(X['age_group'], prefix='age', drop_first=True)
X = pd.concat([X, dummies], axis=1)

dummies = pd.get_dummies(X['kids_group'], prefix='role', drop_first=True)
X = pd.concat([X, dummies], axis=1)

dummies = pd.get_dummies(X['marital_status'], prefix='role', drop_first=True)
X = pd.concat([X, dummies], axis=1)

dummies = pd.get_dummies(X['mother_education_group'], prefix='role', drop_first=True)
X = pd.concat([X, dummies], axis=1)

dummies = pd.get_dummies(X['away_group'], prefix='role', drop_first=True)
X = pd.concat([X, dummies], axis=1)

dummies = pd.get_dummies(X['education_group'], prefix='role', drop_first=True)
X = pd.concat([X, dummies], axis=1)

dummies = pd.get_dummies(X['preschool_group'], prefix='role', drop_first=True)
X = pd.concat([X, dummies], axis=1)

dummies = pd.get_dummies(X['enrollment_grouping'], prefix='role', drop_first=True)
X = pd.concat([X, dummies], axis=1)

In [602]:
X

,family_role_group,age_group,kids_group,marital_status,away_group,mother_education_group,read_write,education_group,preschool_group,enrollment_grouping,...,role_3,role_4,role_2,role_3,role_4,role_2,role_3,role_4,role_2,role_2
0,1,5,2,1,1,2,1,1,2,1,...,False,False,False,False,False,False,False,False,True,False
1,2,5,2,1,1,1,1,1,1,1,...,False,False,False,False,False,False,False,False,False,False
2,1,7,2,1,1,1,1,1,1,1,...,False,False,False,False,False,False,False,False,False,False
3,1,7,1,1,1,2,1,1,1,1,...,False,False,False,False,False,False,False,False,False,False
4,1,7,1,5,1,1,1,1,1,2,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5130,1,7,1,5,1,1,1,1,1,2,...,False,False,False,False,False,False,False,False,False,True
5131,1,6,2,1,1,1,1,1,1,1,...,False,False,False,False,False,False,False,False,False,False
5132,1,6,2,1,1,1,1,3,1,1,...,False,False,False,False,False,False,True,False,False,False
5133,1,6,2,1,1,2,1,4,1,2,...,False,False,False,False,False,False,False,True,False,True
5134,1,8,1,1,1,1,1,1,2,1,...,False,False,False,False,False,False,False,False,True,False

In [604]:
old =[ 'family_role_group', 'age_group', 'kids_group', 'marital_status',
       'away_group', 'mother_education_group','education_group',
       'preschool_group', 'enrollment_grouping']
X = X.drop(columns=old)

In [606]:
X

,read_write,role_2,role_3,role_4,role_5,age_2,age_3,age_4,age_5,age_6,...,role_3,role_4,role_2,role_3,role_4,role_2,role_3,role_4,role_2,role_2
0,1,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
1,1,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5130,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5131,1,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
5132,1,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
5133,1,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,True
5134,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

array([4, 1, 3, ..., 2, 5, 4])

### Random Forest**

In [612]:
param_grid = {
    'n_estimators': [10, 50, 100],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}
rf = RandomForestClassifier(random_state=42)
grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='accuracy')

grid_search.fit(X, y)

print(f"Best parameters: {grid_search.best_params_}")
print(f"Best cross-validation accuracy: {grid_search.best_score_:.2f}")

Best parameters: {'max_depth': 10, 'min_samples_split': 5, 'n_estimators': 100}
Best cross-validation accuracy: 0.21

### kNN

In [632]:
knn = KNeighborsClassifier(n_neighbors=200) ## this says they are all close to the middle

# Perform 5-fold cross-validation
cv_scores = cross_val_score(knn, X, y, cv=5, scoring='accuracy')

# Print the accuracy for each fold
print("Cross-validation scores:", cv_scores)
print(f"Average cross-validation accuracy: {cv_scores.mean():.2f}")

Cross-validation scores: [0.21616358 0.21226874 0.21908471 0.21908471 0.20740019]
Average cross-validation accuracy: 0.21

### Logistic

In [634]:
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000)

# Perform cross-validation with 5 folds
cv_scores = cross_val_score(model, X, y, cv=5, scoring='accuracy')

# Print cross-validation scores
print("Cross-validation scores:", cv_scores)
print("Mean accuracy:", cv_scores.mean())

/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(
/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(
/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(
/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(
/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(

Cross-validation scores: [0.19961052 0.2083739  0.20253165 0.21324245 0.20934761]
Mean accuracy: 0.20662122687439144

### NN

doesn't converge

In [638]:
# nn_model = MLPClassifier(max_iter=1000, random_state=42)

# # Define the hyperparameter grid
# param_grid = {
#     'hidden_layer_sizes': [(50,), (100,), (50, 50), (100, 50)],
#     'activation': ['relu', 'tanh'],
#     'solver': ['adam', 'sgd'],
#     'learning_rate': ['constant', 'adaptive'],
# }

# # Initialize GridSearchCV
# grid_search = GridSearchCV(estimator=nn_model, param_grid=param_grid, cv=5, scoring='accuracy', verbose=2, n_jobs=-1)

# # Perform the grid search
# grid_search.fit(X, y)

# # Print the best parameters and best score
# print("Best parameters:", grid_search.best_params_)
# print("Best cross-validation accuracy:", grid_search.best_score_)