In [146]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import log_loss, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [34]:
data = pd.read_csv('his.csv')

In [41]:
y = data['POVERTY'].to_numpy()

In [45]:
X = data.drop(columns=['POVERTY'])

In [49]:
X['live_with_mother'] = X['live_with_mother'].eq(1)
X['mother_alive'] = X['mother_alive'].eq(1)
X['live_with_father'] = X['live_with_father'].eq(1)
X['father_alive'] = X['father_alive'].eq(1)
X['read'] = X['read'].eq(1)
X['write'] = X['write'].eq(1)
X['under_19'] = X['under_19'].eq(1)

In [29]:
useless = [
    'psu', 'hh', 'idcode', 'Self_id', 
    'subjective_poverty_1', 'subjective_poverty_2', 'subjective_poverty_3', 'subjective_poverty_4', 'subjective_poverty_5', 
    'subjective_poverty_6', 'subjective_poverty_7', 'subjective_poverty_8', 'subjective_poverty_9', 'subjective_poverty_10']
data = data.drop(columns=useless)

In [53]:
X

,gender,family_role,age,marital_status,time_away,live_with_mother,mother_education,mother_alive,mother_death_age,mother_current_age,...,father_alive,father_death_age,father_current_age,read,write,education,preschool,enrollment_grouping,last_schoolyear_age,under_19
0,1,1,44,1,0,False,2,True,0,66,...,True,0,63,True,True,2,1,1,14,False
1,2,2,48,1,0,False,1,True,0,67,...,True,0,75,True,True,2,0,1,14,False
2,1,1,61,1,0,False,1,False,86,0,...,False,74,0,True,True,2,0,1,14,False
3,1,1,66,1,0,False,2,False,81,0,...,False,77,0,True,True,2,0,1,14,False
4,2,1,72,5,0,False,1,False,80,0,...,False,72,0,True,True,1,0,2,20,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5130,2,1,73,5,0,False,1,False,67,0,...,False,76,0,True,True,1,0,2,10,False
5131,1,1,60,1,0,False,1,False,73,0,...,False,82,0,True,True,2,0,1,14,False
5132,1,1,55,1,0,False,1,True,0,77,...,True,0,75,True,True,6,0,1,18,False
5133,1,1,53,1,0,True,2,True,0,73,...,False,75,0,True,True,9,0,2,22,False
5134,1,1,78,1,0,False,1,False,84,0,...,False,85,0,True,True,2,1,1,14,False

In [55]:
# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [57]:

# Initialize Logistic Regression Model
model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
accuracy

/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(
/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.2035053554040896

# kNN

In [59]:
knn = KNeighborsClassifier(n_neighbors=7)
# Perform 5-fold cross-validation
cv_scores = cross_val_score(knn, X, y, cv=5, scoring='accuracy')

# Print the accuracy for each fold
print("Cross-validation scores:", cv_scores)
print(f"Average cross-validation accuracy: {cv_scores.mean():.2f}")

Cross-validation scores: [0.18013632 0.16942551 0.17526777 0.17039922 0.17234664]
Average cross-validation accuracy: 0.17

In [61]:
knn = KNeighborsClassifier(n_neighbors=7)

# Perform 5-fold cross-validation
cv_scores = cross_val_score(knn, X, y, cv=5, scoring='accuracy')

# Print the accuracy for each fold
print("Cross-validation scores:", cv_scores)
print(f"Average cross-validation accuracy: {cv_scores.mean():.2f}")

Cross-validation scores: [0.18013632 0.16942551 0.17526777 0.17039922 0.17234664]
Average cross-validation accuracy: 0.17

In [63]:
knn.fit(X_train, y_train)
knn.predict_proba(X_test)

array([[0.        , 0.14285714, 0.14285714, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.14285714, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.42857143, ..., 0.14285714, 0.        ,
        0.        ],
       ...,
       [0.14285714, 0.        , 0.14285714, ..., 0.14285714, 0.        ,
        0.        ],
       [0.        , 0.        , 0.28571429, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.14285714, 0.14285714, ..., 0.14285714, 0.        ,
        0.        ]])

# Random Forest

In [238]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the Random Forest model
rf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the Random Forest model on the training data
rf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rf.predict(X_test)

# Evaluate the model using accuracy
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy on the test set: {accuracy:.2f}")

Accuracy on the test set: 0.18

In [240]:
from sklearn.model_selection import GridSearchCV

# Set up a grid of hyperparameters to search over
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

# Initialize the Random Forest model
rf = RandomForestClassifier(random_state=42)

# Set up GridSearchCV to search over the hyperparameter grid
grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='accuracy')

# Fit GridSearchCV to the training data
grid_search.fit(X, y)

# Get the best parameters and the best score
print(f"Best parameters: {grid_search.best_params_}")
print(f"Best cross-validation accuracy: {grid_search.best_score_:.2f}")

/opt/anaconda3/lib/python3.12/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best parameters: {'max_depth': 10, 'min_samples_split': 2, 'n_estimators': 100}
Best cross-validation accuracy: 0.18

In [242]:
# Initialize the Random Forest model
rf = RandomForestClassifier(n_estimators=100, max_depth=10, min_samples_split=2, random_state=42)

# Train the Random Forest model on the training data
rf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rf.predict(X_test)

# Evaluate the model using accuracy
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy on the test set: {accuracy:.2f}")

Accuracy on the test set: 0.23

# Neural network

In [244]:
from sklearn.neural_network import MLPClassifier

# Initialize the MLPClassifier for a neural network
# 'hidden_layer_sizes' defines the number of neurons in the hidden layers (e.g., 100 neurons in one hidden layer)
# 'max_iter' is the maximum number of iterations for training
mlp = MLPClassifier(hidden_layer_sizes=(100,), max_iter=1000, random_state=42, solver='adam')

# Train the model
mlp.fit(X_train, y_train)

# Make predictions on the test set
y_pred = mlp.predict(X_test)

# Evaluate the model using accuracy
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy on the test set: {accuracy:.2f}")

Accuracy on the test set: 0.18