# Education Data Processing 

* Transform dependent data that is relevant to the prediction of wealth, denoted T(num_transform)
* Discard data useless in the prediction of wealth
* Keep independent and relevant data

For each of these methods, replace NaN values with what makes sense for each col

In [24]:
import pandas as pd
import os, sys
import matplotlib.pyplot as plt

In [26]:
new_dir = '/Users/juanbello/Desktop/Kaggle'

sys.path.append(os.path.join(new_dir))

# Load the ed dataset
df = pd.read_csv('ed_train_transform.csv') # education

df.head()

,uid,ED_Q01,ED_Q02,ED_Q03,ED_Q04,ED_Q05,ED_Q06,ED_Q07,ED_Q08,ED_Q09,...,ED_Q58,ED_Q59,ED_Q60,ED_Q61,ED_Q62,ED_Q63,ED_Q64,ED_Q65,ED_Q66,poverty_score
0,441_2_3,1,1,1,2.0,3.0,3.0,0.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,3.0,4.0
1,647_7_1,1,1,1,2.0,2.0,2.0,0.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,1.0,4.0
2,756_4_1,1,1,1,2.0,3.0,3.0,0.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,4.0,6.0
3,25_4_3,1,1,1,6.0,1.0,3.0,2.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,3.0,4.0
4,132_6_3,1,1,1,2.0,3.0,3.0,0.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,5.0,3.0

# Replacing NaN's

### Which columns can be replaced by a zero?

* Categorical answered-questions for which zero is not one of the categories. By replacing them with a zero, we are implicitly adding an additional category for "No response"
  
* We need to make sure zero is not a feasible value in the column. otherwise it already means something and we need a new indicator. We also need to make sure it is categorical, if a column is numeric and we add a value of zero, then that doesnt make sense, add the average instead.

## Q1 and Q2
* Q1: reading 
* Q2: Writing
### Merge into T1: "Can read and write perfectly" binary variable.
* 1 if you can read and write perfectly
* 0 ow

In [8]:
flt = df['ED_Q01'].eq(df['ED_Q02']) & df['ED_Q01'].eq(1)

df.loc[flt, 'ED_T1'] = 1
df.loc[~flt, 'ED_T1'] = 0
# df[['Q01', 'Q02', 'T1']]

df =  df.drop(columns=['ED_Q01', 'ED_Q02'])

df.head()
## how about 1 if you can read and write perfectly?

,uid,ED_Q03,ED_Q04,ED_Q05,ED_Q06,ED_Q07,ED_Q08,ED_Q09,ED_Q10,ED_Q11,...,ED_Q59,ED_Q60,ED_Q61,ED_Q62,ED_Q63,ED_Q64,ED_Q65,ED_Q66,poverty_score,ED_T1
0,441_2_3,1,2.0,3.0,3.0,0.0,1.0,1.0,NaN,NaN,...,2.0,NaN,2.0,NaN,NaN,2.0,NaN,3.0,4.0,1.0
1,647_7_1,1,2.0,2.0,2.0,0.0,1.0,1.0,NaN,NaN,...,2.0,NaN,2.0,NaN,NaN,2.0,NaN,1.0,4.0,1.0
2,756_4_1,1,2.0,3.0,3.0,0.0,1.0,1.0,NaN,NaN,...,2.0,NaN,2.0,NaN,NaN,2.0,NaN,4.0,6.0,1.0
3,25_4_3,1,6.0,1.0,3.0,2.0,1.0,1.0,NaN,NaN,...,2.0,NaN,2.0,NaN,NaN,2.0,NaN,3.0,4.0,1.0
4,132_6_3,1,2.0,3.0,3.0,0.0,1.0,1.0,NaN,NaN,...,2.0,NaN,2.0,NaN,NaN,2.0,NaN,5.0,3.0,1.0

In [9]:
assert(len(df[df['ED_T1'].isna()])==0) # T1 has no NaN values

# Q3-Q6

3)	Has [Name] ever attended school?									
4)	What is the highest LEVEL [Name] have completed in school? In which level?									
5)   In the LEVEL of q4, what grade?									
6)	What is the highest diploma [Name] have attained?									

Action: 

* Set T2 = Standarize 4 = level of education
* Get rid of 3, 5, and 6

In [11]:
# studied aborad doesn't seem that useful, IGNORE.
# studied_abroad = df['Q04'].eq(7) | df['Q04'].eq(9) | df['Q04'].eq(11)
# df.loc[studied_abroad, ['poverty_score', 'Q04']]['poverty_score'].mean()

In [12]:
# df.loc[df['ED_Q04'].isna() & ~df['ED_Q06'].isna()] # size 0

In [13]:
# Standarize Q4 before fillion out NaN values
Q4_education_mapping = [0, 1, 2, 3, 4, 4, 5, 5, 6, 6, 7, 7] # just gives the same values to same degrees (no matter where they were studied)
df['ED_T2'] =  df['ED_Q04'].apply(lambda indx : indx if pd.isna(indx) else Q4_education_mapping[int(indx)])

## fill out NaN values with standarized mean
mean = df['ED_T2'].mean()
df['ED_T2'] = df['ED_T2'].fillna(mean)

df =  df.drop(columns=['ED_Q03', 'ED_Q04', 'ED_Q05', 'ED_Q06'])

In [14]:
assert(len(df[df['ED_T2'].isna()])==0)

# Keep Q7 as is
It just becomes T3 to keep some consistency and order

In [90]:
df['ED_T3'] = df['ED_Q07']
df = df.drop(columns=['ED_Q07'])

In [92]:
df

,uid,ED_Q01,ED_Q02,ED_Q03,ED_Q04,ED_Q05,ED_Q06,ED_Q12,ED_Q13,ED_Q18,...,ED_Q60,ED_Q61,ED_Q62,ED_Q63,ED_Q64,ED_Q65,ED_Q66,poverty_score,ED_T4,ED_T3
0,441_2_3,1,1,1,2.0,3.0,3.0,6.0,1.0,NaN,...,NaN,2.0,NaN,NaN,2.0,NaN,3.0,4.0,0,0.0
1,647_7_1,1,1,1,2.0,2.0,2.0,2.0,3.0,NaN,...,NaN,2.0,NaN,NaN,2.0,NaN,1.0,4.0,0,0.0
2,756_4_1,1,1,1,2.0,3.0,3.0,6.0,1.0,NaN,...,NaN,2.0,NaN,NaN,2.0,NaN,4.0,6.0,0,0.0
3,25_4_3,1,1,1,6.0,1.0,3.0,6.0,2.0,NaN,...,NaN,2.0,NaN,NaN,2.0,NaN,3.0,4.0,0,2.0
4,132_6_3,1,1,1,2.0,3.0,3.0,6.0,1.0,NaN,...,NaN,2.0,NaN,NaN,2.0,NaN,5.0,3.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329,574_5_1,1,1,1,1.0,4.0,1.0,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1,1.0
5330,618_2_1,2,3,1,1.0,4.0,1.0,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1,1.0
5331,155_4_1,1,1,1,1.0,8.0,2.0,NaN,NaN,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1,0.0
5332,475_5_1,1,1,1,1.0,8.0,2.0,NaN,NaN,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1,2.0
5333,377_1_1,1,1,1,1.0,7.0,2.0,NaN,NaN,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1,0.0

## Mergining Q8-11 and Q14-17
about attending school
* Q8 Did you enroll this year?									
* Q9 will you attend this year?									
* Q10 Why not attending this year?							
* Q11 Why not enrolling this year?

Funny situations:
enrolled but will not attend. We can only care about attending. 

Our aggregation variable could be a merge of "why not attending/enrolling or attending"

After merging all 4 columns into one, we may need to further break down, transform the categories... maybe get rid of anything that is not about money (illness, poor quality of teaching, )

In [28]:
# Rename for sanity:
## 'now' is this year
## 'past' is last year
df['now_enrolled'] = df['ED_Q08']  # 1 yes, 2 No
df['now_attending'] = df['ED_Q09'] # 1 yes, 2 No
df['past_enrolled'] = df['ED_Q14']  # 1 yes, 2 No
df['past_attending'] = df['ED_Q15'] # 1 yes, 2 No

In [30]:
df =  df.drop(columns=['ED_Q08', 'ED_Q09','ED_Q14', 'ED_Q15'])

In [32]:
# Merge now_enrolled, now_attending, past_enrolled, past_attending into "missed at least a year in the past 2"

# We have situations where someone enrolls but does not attend.
# We don't have situations when someone who did not enroll attends. 
# So use attend as base truth and fill some of the NaNs with enrolled.
df['now_attending'] = df['now_attending'].fillna(df['now_enrolled'])
df['past_attending'] = df['past_attending'].fillna(df['past_enrolled'])

# We only care if they missed at least one year in the past 2.
missed_year = df['now_attending'].eq(2) | df['past_attending'].eq(2) 
df.loc[missed_year, 'Missed_year'] = True
df.loc[~missed_year, 'Missed_year'] = False

In [34]:
df =  df.drop(columns=['now_enrolled', 'past_enrolled', 'past_attending', 'now_attending'])

In [36]:
# Merge not attending and not enrolling reason in school 
df['now_not_attend_reason'] = df['ED_Q10']
df['now_not_enroll_reason'] = df['ED_Q11']
df['past_not_attend_reason'] = df['ED_Q16'] 
df['past_not_enroll_reason'] = df['ED_Q17']


# first make 'attend' reasons equivalent:
## the values of Q10 and Q11 match except for Q10=13 <-> Q11=14. So, Q10=13 should be transformed into Q10'=14 before merging 
## the values of Q16 and Q17 match except for Q16=13 <-> Q17=14. So, Q16=13 should be transformed into Q16'=14 before merging 

df.loc[df['now_not_attend_reason'] == 13, 'now_not_attend_reason'] = 14
df.loc[df['past_not_attend_reason'] == 13, 'past_not_attend_reason'] = 14

# We have situations where someone enrolls but does not attend.
# We don't have situations when someone who did not enroll attends. 
# So use attend as base truth and fill some of the NaNs with enrolled.
df['now_not_attend_reason'] = df['now_not_attend_reason'].fillna(df['now_not_enroll_reason'])
df['past_not_attend_reason'] = df['past_not_attend_reason'].fillna(df['past_not_enroll_reason'])

# Some may still be NaN

In [38]:
df = df.drop(columns=['ED_Q10', 'ED_Q11', 'ED_Q16', 'ED_Q17'])

In [42]:
df = df.drop(columns=['now_not_enroll_reason', 'past_not_enroll_reason'])

#### Conciliating reasons

Now we are interested in how we will merge/reconcile the case when someone did not attend school two years in a row for DIFFERENT REASONS. 
We'll first convert the reasons to a financial scale of 1-3. 

* 1 Is a non-financial reason.
* 2 Somewhat financial.
* 3 Directly financial reason. 

Then we just take the maximum number on the financial scale as our main reason.

the mapping of reason 1-13 -> how related that reason is to money on a scale of 1-3 is as follows: 

[Nan, 1, 2, 3, ..., 14] -> [0, 3,1,3,3,1,1,1,2,2,1,1,2,1,1]

In [51]:
# NOTE since going to school  is kind of the opposite of being poor, we will assign  NaN reason values a mapping of 0
df['now_not_attend_reason'] = df['now_not_attend_reason'].fillna(0)
df['past_not_attend_reason'] = df['past_not_attend_reason'].fillna(0)

In [55]:
# Now apply transform reasons to the financial scale
ABSENCE_REASON_TO_MONEY_MAPPING = [0, 3,1,3,3,1,1,1,2,2,1,1,2,1,1]

df['now_not_attend_reason'] =  df['now_not_attend_reason'].apply(lambda indx : ABSENCE_REASON_TO_MONEY_MAPPING[int(indx)])
df['past_not_attend_reason'] =  df['past_not_attend_reason'].apply(lambda indx : ABSENCE_REASON_TO_MONEY_MAPPING[int(indx)])

In [63]:
# Now the merge between now_not_attend_reason and past_not_attend_reason becomes obvious for our purposes of predicting wealth: pick the maximum. 
df['not_attend_reason'] =  df.apply(lambda row: max(row['past_not_attend_reason'], row['now_not_attend_reason']), axis=1)

In [67]:
df = df.drop(columns=['now_not_attend_reason', 'past_not_attend_reason'])

In [73]:
# Now we need to merge Missed_year? and not_attend_reason into one variate

## CLAIM: Missed_year==False <-> not_attend_reason=0
claim = df['Missed_year'].eq(False) & df['not_attend_reason'].ne(0)
assert(len(df[claim])==0)

## DONE: So they are already dependent!! No need to do anything other than delete missed_year?
df['ED_T4'] = df['not_attend_reason'] 

# The meaning of this not_attend_reason variable in the FINAL TRANSFORM ED_T4 is: 
# It represents what happened in the last couple of years
# 0 if the kid attended both years to school
# 1 if the kid missed at least one year due to something, in the worse case scenario, (NOT) related to money
# 2 if the kid missed at least one year due to something, in the worse case scenario, (SOMEWHAT) related to money
# 3 if the kid missed at least one year due to something, in the worse case scenario, (DIRECTLY) related to money

In [77]:
df = df.drop(columns=['Missed_year', 'not_attend_reason'])

# Analyze distance from school Q24

* First problem we encounter: distance 999 for those out of state is nonsense. It is an outlier and it is not true. Also there is no (answer, true label) poverty data for any of those out of state students so they will only mess with the anaylsis. Get rid of them!

In [ ]:
df = pd.read_csv('education.csv') # education
pov = pd.read_csv('poverty.csv') # education

df = prepare_df(df, "Ed")
df['Ed_Q24'].describe()

In [ ]:
df[df['Ed_Q24'] == 999].head() # these guys are out of state

In [ ]:
### Out of curiosity, give me the uids and figure out how poor these guys are... let's try to determine if this variable is important 
uids = df.loc[df['Ed_Q24'] == 999, ['uid']]
uids['uid']

In [ ]:
matching_rows = pov[pov['psu_hh_idcode'].isin(uids['uid'])]
matching_rows   ## We don't have answers for ANY of them? huh that's interesting

In [ ]:
df['Ed_Q24'].plot(kind='hist', bins=10, edgecolor='black')

In [ ]:
## Getting rid of the 999-dist students:
df = df.loc[df['Ed_Q24'] != 999]
df['Ed_Q24'].plot(kind='hist', bins=15, edgecolor='black')
df['Ed_Q24'].describe()
# there is still an outlier kid who lives 500km away from school... woah

In [ ]:
uids = df.loc[df['Ed_Q24'] >= 100]  ## full truncation at 100 is fine... but the numbers are still weird!!!
matching_rows = pov[pov['psu_hh_idcode'].isin(uids['uid'])]
matching_rows # the

In [ ]:
uids = df.loc[df['Ed_Q24'] >= 10]
matching_rows = pov[pov['psu_hh_idcode'].isin(uids['uid'])]
matching_rows # the

In [ ]:
## scatter plot of psu_hh_idcode and Ed_Q24
data = df.loc[df['uid'].isin(pov_scores['uid']), ['uid', 'Ed_Q24']]
data_y = data[~data['Ed_Q24'].isna()]
data_x = pov_scores[pov_scores['uid'].isin(data_y['uid'])]
data_x_y = data_x.merge(data_y, on='uid', how='left')
data_x_y

import matplotlib.pyplot as plt

plt.scatter(data_x_y['Ed_Q24'], data_x_y['poverty_score'], color='blue', alpha=0.7)
## LOOKS STATIONARY!!! get rid of it.

In [ ]:
# GET RID OF DISTANCE!

# Analysis of Q28,29 How do you go to school and How much do you spend a year

* I basically want to make sure having a car does not correlate with spending little on transportation.

In [ ]:
### Seems like all the avaiable data for people with cars 
data_y = df.loc[df['Ed_Q28'] == 4, ['uid', 'Ed_Q28', 'Ed_Q29']]
data_x = pov_scores[pov_scores['uid'].isin(data_y['uid'])]
data_x