In [13]:
import pandas as pd
import os, sys
import matplotlib.pyplot as plt

In [27]:


new_dir = '/Users/juanbello/Desktop/Kaggle'

sys.path.append(os.path.join(new_dir))

# Load the datasets
df_ed = pd.read_csv('education.csv') # education
df_hh = pd.read_csv('household.csv') # education

df_pov = pd.read_csv('poverty.csv') # poverty/answers

In [17]:
### Prepare Ed data
def prepare_df(df, suffix:str):
    uids = df['psu'].astype(str) + "_"  + df['hh'].astype(str) + "_" + df['idcode'].astype(str) 
    df =  df.drop(columns=['psu', 'hh', 'idcode'])
    df.columns = [suffix + "_" + col.capitalize() for col in df.columns]
    df.insert(0, 'uid', uids)
    return df
    
df_ed = prepare_df(df_ed, 'ED')
hh_ed = prepare_df()

# Transform on poverty data from distribution to score for intuition

In [19]:
df_pov.head(3) # before

,psu_hh_idcode,subjective_poverty_1,subjective_poverty_2,subjective_poverty_3,subjective_poverty_4,subjective_poverty_5,subjective_poverty_6,subjective_poverty_7,subjective_poverty_8,subjective_poverty_9,subjective_poverty_10
0,30_8_1,0,0,0,1,0,0,0,0,0,0
1,194_1_2,1,0,0,0,0,0,0,0,0,0
2,224_6_1,0,0,1,0,0,0,0,0,0,0

In [22]:
### ONLY RUN ONCE
for i in range(1,11):
    col = 'subjective_poverty_'+ str(i)
    df_pov.loc[df_pov[col]==1, 'poverty_score'] = i

df_pov['uid'] = df_pov['psu_hh_idcode']
df_pov_scores = df_pov[['uid', 'poverty_score']]

# WE can only use training data for which we have an answer (in terms of poverty score), so let's do that!

In [ ]:
df_ed = df_ed[df_ed['uid'].isin(df_pov_scores['uid'])]
df_ed = df_ed.merge(df_pov_scores[['uid', 'poverty_score']], on='uid', how='left')