In [146]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import log_loss, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [108]:
X = pd.read_csv('X.csv')
y = pd.read_csv('y.csv')

In [110]:
y = y['poverty_score_y'].to_numpy()

In [112]:
y

array([4., 4., 6., ..., 4., 2., 7.])

In [114]:
# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [116]:
X_train

,uid,highest_school_lvl,preschool,school_transportation_time,school_transportation_cost,school_expenses,not_attend_reason,school_type_1.0,school_type_3.0,transport_2.0,transport_4.0,transport_5.0,sex,age,time_away,lives_with_partner,lives_with_parent,parents_education,num_parents_alive
628,632_6_2,4,0.0,40.0,0.0,732169.0,1,False,False,False,False,False,2,52,0,True,False,10.000000,0
693,435_1_1,2,0.0,40.0,0.0,732169.0,1,False,False,False,False,False,1,54,0,True,False,2.000000,1
705,86_5_1,1,0.0,40.0,0.0,732169.0,1,False,False,False,False,False,1,55,0,True,False,3.000000,0
497,429_8_1,2,0.0,40.0,0.0,732169.0,1,False,False,False,False,False,1,48,0,True,True,2.145105,0
1169,579_12_1,1,0.0,40.0,0.0,732169.0,1,False,False,False,False,False,1,77,0,True,False,1.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,392_8_1,1,0.0,40.0,0.0,732169.0,1,False,False,False,False,False,1,74,0,True,False,1.000000,0
1294,598_2_1,4,0.0,40.0,0.0,732169.0,3,False,False,False,False,False,1,38,0,True,False,2.000000,1
860,734_8_1,5,0.0,40.0,0.0,732169.0,1,False,False,False,False,False,1,59,0,True,False,2.500000,1
1459,795_8_1,1,1.0,40.0,0.0,732169.0,2,False,False,False,False,False,2,88,0,False,False,1.000000,0
1126,580_1_1,1,0.0,40.0,0.0,732169.0,1,False,False,False,False,False,2,74,0,False,False,1.000000,0

In [120]:

# Initialize Logistic Regression Model
model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
accuracy

/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(
/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.17757009345794392

# kNN

In [134]:
knn = KNeighborsClassifier(n_neighbors=7)
# Perform 5-fold cross-validation
cv_scores = cross_val_score(knn, X, y, cv=5, scoring='accuracy')

# Print the accuracy for each fold
print("Cross-validation scores:", cv_scores)
print(f"Average cross-validation accuracy: {cv_scores.mean():.2f}")

Accuracy: 0.30

In [166]:
knn = KNeighborsClassifier(n_neighbors=7)

# Perform 5-fold cross-validation
cv_scores = cross_val_score(knn, X, y, cv=5, scoring='accuracy')

# Print the accuracy for each fold
print("Cross-validation scores:", cv_scores)
print(f"Average cross-validation accuracy: {cv_scores.mean():.2f}")

Cross-validation scores: [0.31152648 0.275      0.28125    0.296875   0.24375   ]
Average cross-validation accuracy: 0.28

/opt/anaconda3/lib/python3.12/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

In [170]:
knn.fit(X_train, y_train)
knn.predict_proba(X_test)

array([[0.        , 0.        , 0.14285714, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.71428571, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.42857143, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

# Random Forest

In [173]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the Random Forest model
rf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the Random Forest model on the training data
rf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rf.predict(X_test)

# Evaluate the model using accuracy
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy on the test set: {accuracy:.2f}")

Accuracy on the test set: 0.26

In [203]:
from sklearn.model_selection import GridSearchCV

# Set up a grid of hyperparameters to search over
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

# Initialize the Random Forest model
rf = RandomForestClassifier(random_state=42)

# Set up GridSearchCV to search over the hyperparameter grid
grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='accuracy')

# Fit GridSearchCV to the training data
grid_search.fit(X, y)

# Get the best parameters and the best score
print(f"Best parameters: {grid_search.best_params_}")
print(f"Best cross-validation accuracy: {grid_search.best_score_:.2f}")

/opt/anaconda3/lib/python3.12/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best parameters: {'max_depth': 20, 'min_samples_split': 2, 'n_estimators': 50}
Best cross-validation accuracy: 0.21

In [213]:
# Initialize the Random Forest model
rf = RandomForestClassifier(n_estimators=50, max_depth=20, random_state=42)

# Train the Random Forest model on the training data
rf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rf.predict(X_test)

# Evaluate the model using accuracy
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy on the test set: {accuracy:.2f}")

Accuracy on the test set: 0.23

# Neural network

In [194]:
from sklearn.neural_network import MLPClassifier

# Initialize the MLPClassifier for a neural network
# 'hidden_layer_sizes' defines the number of neurons in the hidden layers (e.g., 100 neurons in one hidden layer)
# 'max_iter' is the maximum number of iterations for training
mlp = MLPClassifier(hidden_layer_sizes=(100,), max_iter=1000, random_state=42, solver='adam')

# Train the model
mlp.fit(X_train, y_train)

# Make predictions on the test set
y_pred = mlp.predict(X_test)

# Evaluate the model using accuracy
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy on the test set: {accuracy:.2f}")

Accuracy on the test set: 0.17